# Environment variables
.env

# SQLite Database & Instance folder
instance/
*.db
*.sqlite
*.sqlite3

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo
